name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  security-events: write
  contents: read

jobs:
  build-java-25:
    runs-on: ubuntu-latest
    name: Java 25
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build
        run: ./mvnw --batch-mode --update-snapshots verify
  build-java-21:
    runs-on: ubuntu-latest
    name: Java 21
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: java
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build
        run: ./mvnw --batch-mode --update-snapshots verify
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build-java-17:
    runs-on: ubuntu-latest
    name: Java 17
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build
        run: ./mvnw --batch-mode --update-snapshots verify
  build-java-11:
    runs-on: ubuntu-latest
    name: Java 11
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build
        run: ./mvnw --batch-mode --update-snapshots verify
  build-java-8:
    runs-on: ubuntu-latest
    name: Java 8
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'zulu'
          cache: 'maven'
      - name: Build
        run: ./mvnw --batch-mode --update-snapshots verify
